<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title>Profile</title>
</head>

<body class="">
    <%- include('nav')%>

        <section class="text-gray-600 body-font">
            <div class="container mx-auto flex px-5 pt-6 items-center justify-center ">
                <img class="lg:w-1/6 md:w-/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"
                    src="<%=userData.avatar_url%>">
                <div class="text-center lg:w-2/3 w-full">
                    <h1 class="title-font sm:text-xl text-2xl mb-4 font-medium text-gray-900">
                        <%= userData.name %> | <%=userData.location%>
                    </h1>
                    <p class="mb-8 leading-relaxed">
                        <%= userData.bio %>
                    </p>
                    <div class="">
                        <button
                            class="inline-flex text-white bg-indigo-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                            <a href="/github/logout">
                                Logout
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <h1 class="text-center text-2xl font-extrabold">Favourite Characters</h1>

        <div
            class="mx-20 p-3 grid grid-cols-1 gap-4 gap-y-6 border-b border-gray-300 py-2 pb-20 md:grid-cols-2 lg:grid-cols-4">
            <%favChar.map((char)=> {%>
                <div class="rounded-md border">
                    <img src="<%= char.favCharUrl %>" alt="Gabrielle Fernandez" class="rounded-lg object-cover " />
                    <p class="mt-6 w-full px-2 text-xl font-semibold text-gray-900">
                        <%= char.characterName %>
                    </p>
                    <p class="w-full px-2  text-sm font-semibold text-gray-500">
                        <%= char.castName %>
                    </p>
                    <button type="button"
                        class="text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-2 my-4 hover:scale-110 hover:ease-in-out duration-500">
                        <a href="/characters/delete/<%=char._id%>">
                            Delete
                        </a>
                    </button>
                </div>
                <%})%>
        </div>


</body>

</html>